@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">SalesWebMVC</h1>
    <p class="lead">SalesWebMVC is a web application built with ASP.NET Core MVC and Entity Framework Core.</p>
</div>
